<% content_for :sub_nav do %>
  <%= render :partial => '/layouts/profile_menu' %>
<% end %>
<div id="user-profile-content">
  <h3 align="center"> Welcome <%=current_user.full_name %></h3>
  <% if current_user.avatar.exists? %>
  <%= image_tag(current_user.avatar.url(:thumb),:align => 'left') %>
  <% end  %>
  <div id='user-profile-info'>
    <dl class="user-profile-fields">
        <dt>Email:</dt><dd><%= current_user.email %></dd>
        <dt>Orgaziation :</dt><dd><%= current_user.organization %></dd>
    </dl>

   </div>
  <div class='clearfix' />
  <br />

</div>
