<% form_tag :action => 'create' do |f | -%>
  <div class='blast-main-form'>
    <div class="new-view blast-view view">
      <div class="messages-container" id="blast-create--messages"/>
        <%= error_messages_for :blast_command  %>
        <%= error_messages_for :term  %>

        <h4>Blast Databases</h4>
        <ol class="form">
          <li class="form-element">
            <dl class="">
              <dt>
                <label>Test Database</label>
              </dt>
              <dd>
                <%= select_tag  :test_biodatabase_id,  options_for_select(biodatabase_options,
                  @test_biodatabase ?   @test_biodatabase.id : nil), :class=>'text-input' %>
              </dd>
            </dl>
          </li>
          <li class="form-element">
            <dl class="">
              <dt>
                <label>Target Fasta File</label>
              </dt>
              <dd>
                <%= select_tag  :target_biodatabase_ids, options_for_select(biodatabase_options,
                  @target_biodatabase ?   @target_biodatabase.id : nil), :class=>'text-input' %>
              </dd>
            </dl>
          </li>
          <li class="form-element">
            <dl class="">
              <dt>
                <label>Output Database Group Name </label>
              </dt>
              <dd>
                <%= text_field_tag :output_parent_biodatabase_name, params[:output_parent_biodatabase_name], :class => 'text-input'  %>
                <span class="description">If blank, new database group will be be name based on the databases being Blasted.
              </dd>
            </dl>
          </li>
          <li class="form-element">
            <dl class="">
              <dt> <label>E Value</label> </dt>
              <dd>
                <%= text_field_tag :evalue, params[:evalue], :class => 'text-input' %>
                <span class="description">E-value be value (eg. 25, 19) or full exponent (eg. 10e-25, 10e-19).</span>
              </dd>
            </dl>
          </li>
          <li class="form-element">
            <dl class="">
              <dt> <label >Identity</label> </dt>
              <dd>
                <%= text_field_tag :identity, params[:identity], :class => 'text-input'   %>
                <span class="description"></span>
              </dd>
            </dl>
          </li>
          <li class="form-element">
            <dl class="">
              <dt> <label >Score</label> </dt>
              <dd>
                <%= text_field_tag :score , params[:identity], :class => 'text-input' %>
                <span class="description"></span>
              </dd>
            </dl>
          </li>
        </ol>
      </div>
      <p class="form-footer">
        <%= submit_tag 'Run Query', :class => 'submit' %>
        <a class="cancel" href="/admin/users/list">Cancel</a>
      </p>

    </div>
  </div>

<% end -%>
