<% content_for :header_content do %>
  <div id="wrapper-header">
    <div id="header">
      <div id="wrapper-header2">
        <div id="wrapper-header3">
          <h1><a href="/">M E S T </a></h1>
        </div><!--wrapper-header3-->
      </div><!--wrapper-header2-->
    </div><!--header-->
  </div>
<% end %>



<% @title = "Login" %>
<% form_for @user_session, :url => user_session_path do |f| %>
  <%= f.error_messages %>
  <%= f.label :email %><br />
  <%= f.text_field :email %><br />
  <br />
  <%= f.label :password %><br />
  <%= f.password_field :password %><br />
  <br />
  <%= f.submit "Login" %>
<% end %>
