<div id="jobs-sub-nav">
  <div id="jobs-sub-nav-menu-page">
    <ul>
<%
      css_class ={controller_name.to_sym => "selected"}

      link_text ={}
      link_text[:biodatabases] =  "<span class=\"#{css_class[:biodatabases]}\">Databases</span>"
      link_text[:fasta_files] =  "<span class=\"#{css_class[:fasta_files]}\">Fasta Files</span>"
      link_text[:biosequences] =  "<span class=\"#{css_class[:biosequences]}\">Sequences</span>"
      link_text[:biodatabase_groups] =  "<span class=\"#{css_class[:biodatabase_groups]}\">Database Groups </span>"
      link_text[:biodatabase_types] =  "<span class=\"#{css_class[:biodatabase_types]}\">Database Types </span>"
      link_text[:biodatabase_links] =  "<span class=\"#{css_class[:biodatabase_links]}\">Database Links </span>"
      link_text[:biodatabase_link_types] =  "<span class=\"#{css_class[:biodatabase_link_types]}\">Database Link Types</span>"
%>


		  <li><%= link_to link_text[:biodatabases], biodatabases_path %></li>
  		<li><%= link_to link_text[:fasta_files], fasta_files_path %></li>
  		<li><%= link_to link_text[:biosequences], biosequences_path %></li>
  		<li><%= link_to link_text[:biodatabase_groups], biodatabase_groups_path %></li>
  		<li><%= link_to link_text[:biodatabase_types], biodatabase_types_path %></li>
  		<li><%= link_to link_text[:biodatabase_links], biodatabase_links_path %></li>
  		<li><%= link_to link_text[:biodatabase_link_types], biodatabase_link_types_path %></li>


    </ul>
  </div><!--menu-page-->
</div><!--wrapper-menu-page-->

