<div id="jobs-sub-nav">
  <div id="jobs-sub-nav-menu-page">
    <ul>
		  <li><%= link_to "<span>Databases</span>", biodatabases_path %></li>
  		<li><%= link_to "<span>Fasta Files</span>", fasta_files_path %></li>
  		<li><%= link_to "<span>Sequences</span>", biosequences_path %></li>
  		<li><%= link_to "<span>Database Groups </span>", biodatabase_groups_path %></li>
  		<li><%= link_to "<span>Database Types</span>", biodatabase_types_path %></li>
  		<li><%= link_to "<span>Database Links</span>", biodatabase_links_path %></li>
  		<li><%= link_to "<span>Database Link Types</span>", biodatabase_link_types_path %></li>


    </ul>
  </div><!--menu-page-->
</div><!--wrapper-menu-page-->

