<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>BioFastaCoconutIsland</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="University of Hawaii Bioinformatics" />
	<meta name="keywords" content="Bioinformatics BLAST" />
   <%= javascript_include_tag :defaults %>
   <%= active_scaffold_includes %>
   <%= stylesheet_link_tag 'style' %>
    <%= yield :additional_content_for_head %>
</head>

<body>

<div id="menu-top">
	<ul>
		<li><%= link_to "<span>Home</span>", users_path %></li>
		<li><%= link_to "<span>Fasta File</span>", fasta_files_path %></li>
		<li><%= link_to "<span>Users</span>", fasta_files_path %></li>
  <% if logged_in? %>
   	<li><%= link_to "<span>Logout</span>", "/logout" %></li>
  <% else %>
 	  <li><%= link_to "<span>Login</span>", "/login" %></li>
  <% end %>

	</ul>
</div><!--menu-top-->

<!-- mejobloggs: sorry about all these wrappers. It is a lot of structural markup .
		If you know how to do this with less structural markup, contact my throught my
		OWD user page: http://www.openwebdesign.org/userinfo.phtml?user=mejobloggs -->
<div id="wrapper-header">
<div id="header">
<div id="wrapper-header2">
<div id="wrapper-header3">
  <h1><%= link_to "BioFastaCoconutIsland", '/' %></h1>
</div><!--wrapper-header3-->
</div><!--wrapper-header2-->
</div><!--header-->
</div><!--wrapper-header-->

<div id="wrapper-content">
	<div id="wrapper-menu-page">
	<div id="menu-page">
		<h3>Page navigation</h3>
		<ul>
			<li><a href="#">Example Link 1</a></li>
			<li><a href="#">Example Link 2</a></li>
			<li><a href="#">Example Link 3</a></li>
			<li><a href="#">Example Link 4</a></li>
		</ul>

		<h3>sub page menu</h3>
		<ul>
			<li><a href="#">Example Link 1</a></li>
			<li><a href="#">Example Link 2</a></li>
			<li><a href="#">Example Link 3</a></li>
			<li><a href="#">Example Link 4</a></li>
		</ul>

		<p><img src="images/logo.png" width="165" height="80" alt="" /></p>
	</div><!--menu-page-->
	</div><!--wrapper-menu-page-->

	<div id="content">

<%= yield -%>
		<h2>Clean easy to use free website template :)</h2>
		<p>Design by: <a href="http://www.studio7designs.com">Studio 7 Designs</a><br />
		</p>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cras dictum. Donec accumsan massa pulvinar pede. Nullam sit amet dui. Integer vel odio. Proin ultrices blandit metus. Vivamus magna ante, elementum vitae, lobortis ac, ultricies eget, neque. Sed eget risus a nisl accumsan tempus. Integer id magna id arcu lobortis ultricies. Ut mi neque, tempus id, imperdiet sed, facilisis sit amet, erat. Fusce dolor. Curabitur sapien tortor, iaculis sed, volutpat at, egestas at, nibh. Integer eleifend, neque eget euismod convallis, felis sem pretium tellus, eget dignissim eros nibh consectetuer lorem. Aenean scelerisque, justo ac tempor viverra, orci lacus rutrum nisl, ut sodales pede felis sed ipsum. Pellentesque tincidunt ullamcorper nunc. Aliquam erat volutpat. Vivamus in ligula vitae mi faucibus dapibus.</p>
	    <p>Duis lorem arcu, facilisis vitae, hendrerit sed, blandit eget, orci. Mauris porta velit sit amet magna mollis volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin sit amet neque. Nam sed mauris. In sem augue, congue sit amet, ullamcorper sed, facilisis sed, nunc. Nulla ultricies, felis et accumsan tempor, libero metus feugiat sem, pharetra mattis eros nulla et urna. Nam congue mi ac tellus. Phasellus semper ipsum ut magna. Maecenas vitae ipsum id neque auctor ultrices. Phasellus pharetra, nisi et facilisis ornare, arcu neque rutrum turpis, non varius nunc eros et est. Morbi aliquet urna ac diam. Etiam ut augue. Fusce ipsum. Pellentesque a leo id tellus convallis dignissim. Aliquam massa quam, tincidunt a, volutpat sit amet, euismod at, nibh. Fusce sagittis, ipsum sit amet imperdiet molestie, nisl nisi blandit eros, eu gravida est nulla eu nunc.</p>
	    <p>Duis iaculis ornare justo. Vivamus nunc lorem, hendrerit ut, adipiscing nec, scelerisque et, metus. Nam tincidunt neque a enim. Mauris in nisi nec metus lobortis tincidunt. Suspendisse enim tortor, ultrices eget, faucibus eget, congue placerat, sem. Duis dapibus, turpis eget blandit ullamcorper, magna libero elementum nisi, nec lobortis massa urna ac neque. Praesent orci magna, dictum in, hendrerit eget, feugiat ut, turpis. Fusce aliquam. Ut vitae libero. Duis in nisi in nisl tempor sagittis. Nam nisl mi, aliquet lobortis, porttitor sit amet, ullamcorper quis, enim. In in sapien et augue porta posuere. Integer bibendum. Vestibulum ligula velit, lobortis ut, dapibus sit amet, sodales et, libero. Fusce sed ante.</p>
	    <p>Pellentesque ultrices. Nulla facilisi. Proin arcu. Curabitur turpis nibh, porta ut, ultrices eget, vehicula in, turpis. In tincidunt lobortis sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur blandit. Sed felis justo, elementum non, feugiat in, dapibus et, dui. In sodales nisi. Integer non justo. In congue fermentum dui. Fusce bibendum, eros vitae bibendum faucibus, quam lorem interdum ipsum, sit amet consequat odio risus a est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam accumsan.</p>
	    <p>Nulla pharetra augue quis lorem blandit varius. Sed lectus purus, convallis in, varius eu, eleifend quis, justo. Etiam magna justo, placerat eu, auctor ut, convallis nec, pede. Nam semper sem eu ipsum. Aliquam erat volutpat. Nullam dignissim metus id augue. In convallis sagittis ante. Nulla viverra. Vivamus hendrerit nisl iaculis tellus. Maecenas malesuada. Suspendisse at odio. Sed ligula metus, dignissim ac, pretium eu, facilisis vitae, mi. Fusce ut neque. Mauris eleifend tellus a urna. Etiam non nisi ac libero pharetra imperdiet. Donec scelerisque ultrices neque. Quisque vel erat. Ut et ipsum a sem viverra rutrum.</p>
	    <p><a href="http://www.studio7designs.com/">www.studio7designs.com</a></p>
  </div><!--content-->
</div><!--wrapper-content-->

<div id="wrapper-footer">
	<div id="footer"><a href="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cras dictum. Donec accumsan massa pulvinar pede. Nullam sit amet dui. Integer vel odio. Proin ultrices blandit metus. Vivamus magna ante, elementum vitae, lobortis ac, ultricies eget, neque. Sed eget risus a nisl accumsan tempus. Integer id magna id arcu lobortis ultricies. Ut mi neque, tempus id, imperdiet sed, facilisis sit amet, erat. Fusce dolor. Curabitur sapien tortor, iaculis sed, volutpat at, egestas at, nibh. Integer eleifend, neque eget euismod convallis, felis sem pretium tellus, eget dignissim eros nibh consectetuer lorem. Aenean scelerisque, justo ac tempor viverra, orci lacus rutrum nisl, ut sodales pede felis sed ipsum. Pellentesque tincidunt ullamcorper nunc. Aliquam erat volutpat. Vivamus in ligula vitae mi faucibus dapibus.  Duis lorem arcu, facilisis vitae, hendrerit sed, blandit eget, orci. Mauris porta velit sit amet magna mollis volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin sit amet neque. Nam sed mauris. In sem augue, congue sit amet, ullamcorper sed, facilisis sed, nunc. Nulla ultricies, felis et accumsan tempor, libero metus feugiat sem, pharetra mattis eros nulla et urna. Nam congue mi ac tellus. Phasellus semper ipsum ut magna. Maecenas vitae ipsum id neque auctor ultrices. Phasellus pharetra, nisi et facilisis ornare, arcu neque rutrum turpis, non varius nunc eros et est. Morbi aliquet urna ac diam. Etiam ut augue. Fusce ipsum. Pellentesque a leo id tellus convallis dignissim. Aliquam massa quam, tincidunt a, volutpat sit amet, euismod at, nibh. Fusce sagittis, ipsum sit amet imperdiet molestie, nisl nisi blandit eros, eu gravida est nulla eu nunc.  Duis iaculis ornare justo. Vivamus nunc lorem, hendrerit ut, adipiscing nec, scelerisque et, metus. Nam tincidunt neque a enim. Mauris in nisi nec metus lobortis tincidunt. Suspendisse enim tortor, ultrices eget, faucibus eget, congue placerat, sem. Duis dapibus, turpis eget blandit ullamcorper, magna libero elementum nisi, nec lobortis massa urna ac neque. Praesent orci magna, dictum in, hendrerit eget, feugiat ut, turpis. Fusce aliquam. Ut vitae libero. Duis in nisi in nisl tempor sagittis. Nam nisl mi, aliquet lobortis, porttitor sit amet, ullamcorper quis, enim. In in sapien et augue porta posuere. Integer bibendum. Vestibulum ligula velit, lobortis ut, dapibus sit amet, sodales et, libero. Fusce sed ante.  Pellentesque ultrices. Nulla facilisi. Proin arcu. Curabitur turpis nibh, porta ut, ultrices eget, vehicula in, turpis. In tincidunt lobortis sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur blandit. Sed felis justo, elementum non, feugiat in, dapibus et, dui. In sodales nisi. Integer non justo. In congue fermentum dui. Fusce bibendum, eros vitae bibendum faucibus, quam lorem interdum ipsum, sit amet consequat odio risus a est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam accumsan.  Nulla pharetra augue quis lorem blandit varius. Sed lectus purus, convallis in, varius eu, eleifend quis, justo. Etiam magna justo, placerat eu, auctor ut, convallis nec, pede. Nam semper sem eu ipsum. Aliquam erat volutpat. Nullam dignissim metus id augue. In convallis sagittis ante. Nulla viverra. Vivamus hendrerit nisl iaculis tellus. Maecenas malesuada. Suspendisse at odio. Sed ligula metus, dignissim ac, pretium eu, facilisis vitae, mi. Fusce ut neque. Mauris eleifend tellus a urna. Etiam non nisi ac libero pharetra imperdiet. Donec scelerisque ultrices neque. Quisque vel erat. Ut et ipsum a sem viverra rutrum.">Web Design Victoira BC by Studio7designs.com</a> | copyright 2008 your company name</div>
</div><!--wrapper-footer-->

</body>
</html>